{% extends 'layout/auth-base.html.twig' %}

{% block title %}Sign Up{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mb-4 mx-4">
                <div class="card-body p-4">
                    <h1>Sign Up</h1>
                    <p class="text-medium-emphasis">Create your account</p>

                    {{ form_start(form) }}

                    {% if error is defined %}
                        {{ dump(error) }}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    <div class="input-group mb-3">
                        <span class="input-group-text">
                            <i class="fa-solid fa-user"></i>
                        </span>
                        {{ form_widget(form.name) }}
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">
                            <i class="fa-solid fa-envelope"></i>
                        </span>
                        {{ form_widget(form.email) }}
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">
                            <i class="fa-solid fa-key"></i>
                        </span>
                        {{ form_widget(form.password.first) }}
                    </div>

                    <div class="input-group mb-4">
                        <span class="input-group-text">
                            <i class="fa-solid fa-key"></i>
                        </span>
                        {{ form_widget(form.password.second) }}
                    </div>

                    {{ form_label(form.submit) }}

                    {{ form_end(form) }}

                </div>
            </div>
        </div>
    </div>
{% endblock %}
