{% extends 'layout/auth-base.html.twig' %}

{% block title %}Sign Up{% endblock %}

{% block body %}
    <div class="row">
        <section class="vh-100 gradient-custom">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                        <div class="card bg-dark text-white" style="border-radius: 1rem;">
                            <div class="card-body p-5 text-center">

                                {{ form_start(form, { 'attr': {'class': 'mt-md-4 pb-5'} }) }}

                                <h2 class="fw-bold mb-2 text-uppercase">Sign In</h2>

                                {% if error is defined %}
                                    {{ dump(error) }}
                                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                {% endif %}

                                <div class="form-outline form-white mb-4">
                                    {{ form_widget(form.email) }}
                                    {{ form_label(form.email) }}
                                </div>

                                <div class="form-outline form-white mb-4">
                                    {{ form_widget(form.name) }}
                                    {{ form_label(form.name) }}
                                </div>

                                <div class="form-outline form-white mb-4">
                                    {{ form_widget(form.password.first) }}
                                    {{ form_label(form.password.first) }}
                                </div>

                                <div class="form-outline form-white mb-4">
                                    {{ form_widget(form.password.second) }}
                                    {{ form_label(form.password.second) }}
                                </div>

                                {{ form_end(form) }}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
