{{ form_start(form) }}
    <div class="form-group row">
        <div class="col-sm-6">
            {{ form_row(form.search) }}
        </div>
        <div class="col-sm-2">
            {{ form_row(form.submit) }}
        </div>
    </div>
{{ form_end(form) }}

{% if errors is defined %}
    {% for error in errors %}
        <div class="alert alert-danger" role="alert">{{ error }}</div>
    {% endfor %}
{% endif %}
