{{ form_start(form) }}
	{% include 'components/flash/auth-flash.html.twig' %}
	<div class="mb-1">
        {{ form_row(form.name, {'value' : 'Default title'}) }}
	</div>
	<div class="mb-1">
		{{ form_row(form.email) }}
	</div>
	<div class="mb-1">
		{{ form_row(form.password) }}
	</div>
	{{ form_row(form.submit) }}
{{ form_end(form) }}