{% extends 'layout/admin-base.html.twig' %}

{% block body %}
    <div class="card mb-4">
        <div class="card-header">
            <strong>Users</strong>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Role</th>
                    <th scope="col">Status</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>

                        <td>{{ user.name }}</td>
                        <td><a href= "mailto:{{ user.email }}">{{ user.email }}</a></td>
                        <td>
                            {% for role in user.getRoles %}
                                {% if user.isUser %}
                                    <span class="badge bg-info">{{ role }}</span>
                                {% endif %}
                                {% if user.isAdmin %}
                                    <span class="badge bg-primary">{{ role }}</span>
                                {% endif %}
                            {%  endfor %}
                        </td>
                        <td>
                            {% if user.isBanned %}
                                <span class="badge bg-warning">banned</span>
                            {% else %}
                                <span class="badge bg-success">active</span>
                            {% endif %}
                        </td>
                        <td>
                            <div class="d-grid gap-2 d-md-block btn-group-sm">
                                <a href="#"
                                   class="btn btn-danger text-white"
                                   data-bs-toggle="tooltip"
                                   data-bs-placement="left"
                                   title="Delete this user"
                                >
                                    <i class="fa-solid fa-trash-can"></i>
                                </a>
                                {% if user.isBanned %}
                                    <a href="{{ path('admin_users_user_unbann', {'id': user.getId}) }}"
                                       class="btn btn-success text-white"
                                       data-bs-toggle="tooltip"
                                       data-bs-placement="left"
                                       title="Unbann this user"
                                    >
                                        <i class="fa-regular fa-circle-check"></i>
                                    </a>
                                {% else %}
                                    <a href="{{ path('admin_users_user_bann', {'id': user.getId}) }}"
                                       class="btn btn-warning text-white"
                                       data-bs-toggle="tooltip"
                                       data-bs-placement="left"
                                       title="Bann this user"
                                    >
                                        <i class="fa-solid fa-ban"></i>
                                    </a>
                                {% endif %}

                            </div>
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            {{ tablePagination(users) }}
        </div>
    </div>
{% endblock %}
