<ul class="header-nav ms-3">
    <li class="nav-item dropdown">
        <a class="nav-link py-0"
           data-coreui-toggle="dropdown"
           href="#"
           role="button"
           aria-haspopup="true"
           aria-expanded="false"
        >
            <div class="avatar avatar-md bg-light">
                            <span style="font-size: 1.4em; color: Tomato;">
                                <i class="fa-solid fa-user"></i>
                            </span>
            </div>
        </a>
        <div class="dropdown-menu dropdown-menu-end pt-0">

            {% if app.user %}
                <a class="dropdown-item" href="{{ path('user_profile') }}">
                    <i class="fa-regular fa-address-card me-2"></i>
                    Profile
                </a>
                <a class="dropdown-item" href="{{ path('user_favorites') }}">
                    <i class="fa-solid fa-heart me-2"></i>
                    Favorites
                </a>
                {% if app.user.isAdmin %}
                    <a class="dropdown-item" href="{{ path('admin_dashboard') }}">
                        <i class="fa-solid fa-gauge-high me-2"></i>
                        Dashboard
                    </a>
                {% endif %}
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ path('app_logout') }}">
                    <i class="fa-solid fa-right-from-bracket me-2"></i>
                    Logout
                </a>

            {% else %}
                <a class="dropdown-item" href="{{ path('app_login') }}">
                    <i class="fa-solid fa-right-to-bracket me-2"></i>
                    Sign In
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ path('app_registration') }}">
                    <i class="fa-solid fa-circle-plus me-2"></i>
                    Sign Up
                </a>
            {% endif %}
        </div>
    </li>
</ul>
